h1 {
  color: blue;
  text-align: Center;
}

h2 {
  color: black;
  font-style: italic;
  text-align: center;
}

p {
  color: green
  font-family: sans-serif;
}

ul {
  font-size: 40px;
  line-height: 30px;
}
